$primary-color :#0DBF79;
$dark-gray:black;
body {
    min-height: 100%
}
nav{
    color:$primary-color;

        i:hover {
            color:$primary-color;
            cursor: pointer;
        }


        i{
            font-size: 20px;
            color: gray;
        }

        p {
            font-size: 16px; 
            color: gray;
        }

    img {
        max-width: 130px;
    }

    img:hover {
        cursor: pointer;
    }
    
}

div.text-center{
    background:$primary-color;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    a {
        color:white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        background: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: $primary-color

    }
}