.generateExam {

    

    min-height: 80vh;
    .col-12 button {
        margin-bottom: 200px;
    }
    
    a{
        color: gray;
        font-weight: bold;
    }
    
    a:hover {
        color: #0DBF79
    }
    
    
    .card-header {
        background-color:#666565 !important ;
        h3{
            color: white;
        }
    
    }
    
    .text-success  {
        color:#0DBF79 !important;
        font-weight: bold;
    }
    
    
}

