img {
    width: 100vw;
}

.entity {
    .middle {
        border-left :1px  solid lightgray;
        border-right :1px  solid lightgray;
    }

    .col-3{
        text-align: center;
        color:#242626;
    }

    

    .col-3:hover {
      i {
            color: #0DBF79;
        }

        cursor: pointer;
    }
    
}




.carousel-item .card , .event section{
	background-color: #f7f7f7;
}

.event:hover {
	cursor: pointer
}

.event p {
	margin-bottom: 0;
}


.newsTitle  , .eventsTitle {
	background-color:#0DBF79;
	color: white;

}
